@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg-primary: #09090b;
  --bg-secondary: #27272a;
  --bg-tetriary: #18181b;
  --text-primary: #fafafa;
  --text-muted: #a1a1aa;
  --border-primary: #27272a;
  --border-hover: #3f3f46;
  --accent-primary: #00d0c9;
  --accent-border: #00d0c999;
  --accent-background: #042f2e;
  --danger-primary: #ef4444;
  --danger-background: #450a0a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

/* Document */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  min-height: 100dvh;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--bg-tetriary);
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-tetriary);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 var(--bg-tetriary);
}

.dimmed-green {
  background: #042F2E;
}

.dimmed-red {
  background: #450A0A;
}

.dimmed-yellow {
  background: #854d0e;
}

.green {
  background: rgb(22, 101, 52);
}